node_modules
**/node_modules
*.log
.git
.gitignore
# Keep Dockerfile.frontend and nginx.conf in context for frontend image build
#Dockerfile.frontend
#frontend/nginx.conf
docker-compose.yml
docker-compose.dev.yml
README.md
*.md
*.env
server/init.sql
server/.env*
server/.DS_Store
server/nodemon.json
*.swp